.filter-col {
     background: rgb(0, 80, 117);
     float: none;
     padding: 0 !important;
 }

.header-filter {
    font-size: 14px;
    position: absolute;
    margin-top: 10px;
    color: #fff;
}

.address-filter {
    color: white;
    font-size: 14px;
}

.header-listings {
    font-size: 24px;
    font-weight: 800;
    position: absolute;
    margin-top: 60px;
    left: 30px;
}
.heading-row-dream {
    font-size: 14px;
}

.listing-row1 {
    margin-top: 100px;
}

.listing-row {
}

.custom-control-label {
    color: white;
    font-size: 14px;
}

.custom-control {
    margin-left: 15px;
}


.btn-secondary {
    background: white !important;
    color: black !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    padding: 2px 10px !important;
    text-align: left !important;
}

.card {
    margin-top: 30px;
    border-radius: 25px !important;
    border: none !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.row-filter {
    margin-top: 50px;
}

.text-muted {
    cursor: pointer;
    padding: 4px 8px;
}

.text-muted:hover {
    background: rgb(245, 245, 245);
    border-radius: 15px;
    transition: 0.2s ease;
}

@media screen and (max-width: 991px) {
    .filter-col {
        visibility: hidden;
    }
}