body {
    font-family: 'Poppins';
}

nav {
    background-color: #707070 !important;
}

.navbar {
    padding: 0rem 1rem;
}

a.dropdown-item {
    white-space: normal !important;
}

.navbar-brand {
    width: 20%;
}

.navbar-brand img {
    width: 80%
}

.nav-link {
    color: white !important;
}

.nav-link.active {
    color: #439CB5 !important;
}

a .fa {
    color: white;
}

.left-nav {
    margin-right: auto;
}

.nav-link.active {
    font-weight: bold;
}

@media only screen and (max-width: 991px) {

    .navbar-nav {
        text-align: center;
    }

    .media-nav {
        margin-left: auto;
        flex-direction: row;
        justify-content: center;
    }

    .left-nav .nav-item {
        margin-left: 0px !important;
    }
    
  }

@media only screen and (max-width: 740px) {
    .navbar-brand img {
        width: 100%
    }

    .navbar-brand {
        width: 40%;
    }
    
  }

  @media only screen and (max-width: 350px) {

    .navbar-brand {
        width: 70%;
    }
  }

  @media only screen and (max-width: 350px) {

    .navbar-brand {
        width: 60%;
    }
  }

.pageHeading {
    color: #439CB5;
}

  span.fa-circle {
    position: absolute;
    font-size: 0.6em;
    top: 4px;
    color: red;
    right: 14px;
  }
  span.num {
    position: absolute;
    font-size: 0.4em;
    top: 7px;
    color: #fff;
    right: 19px;
    font-family: 'Poppins';
  }
  